.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-logo {
  /*height: 40vmin;*/
}

.App-header{
  padding: 30px;
}

.App-header img{
  width: 60px;
}

.App-body {
  min-height: 73vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-footer{
  padding: 30px;
  font-size: calc(1.5vmin);
  color: grey;
  border-top: 1px solid #696969;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
