.planetListContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.planetListContainer h6{
    margin-bottom: 0px;
}

.destination1, .destination2, .destination3, .destination4{
    align-content: flex-start;
}

.vehicleListContainer{
    margin-top: 20px;
    font-size: 0.4em;
}